{% extends "base.html" %}

{% block header %}
<!-- Carousel section -->
 <div id="culturalCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Main content - Placeholders -->
 <div class="container">
  <div class="row mt-5 mb-5 justify-content-center">
    <div class="col-md-10">
        <h2 class="text-center mb-4">Search Bar Goes Here</h2>
        <p class="lead text-center">Category filter here</p>
    </div>
  </div>

  <div class="card-group mb-5">
    <div class="card mx-3">
        <img class="card-img-top"
          src="https://media-cdn.tripadvisor.com/media/photo-s/0e/9c/a0/02/eiffel-tower.jpg" alt="France">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
          </p>
        </div>
        <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
    </div>
    <div class="card mx-3">
        <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/12/44/87/23/london.jpg"
          alt="United Kingdom">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
          </p>
        </div>
        <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
    </div>
    <div class="card mx-3">
        <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/12/44/6e/a0/rome.jpg"
          alt="Italy">
        <div class="card-body">
          <h5 class="card-title">Nice place</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
          </p>
        </div>
        <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
    </div>
  </div>
</div>
{% endblock %}